#footer {
  background-color: black;
  height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  i {
    padding-right: 20px;
  }
  a {
    color: $gray-lighter;
    font-size: 30px;
    letter-spacing: 20px;
    transition: color 0.5s ease;
    &:hover {
      color: $yellow;
    }
  }
}


