/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300,700");
$base-font: "Merriweather", "Helvetica", "sans-serif";
$header-font: "Montserrat", "sans-serif";


// Local fonts (uncomment following lines)
@font-face {
  font-family: "Brandon Light";
  src: font-url('brandon-grotesque-light.eot');
  src: font-url('brandon-grotesque-light.eot?#iefix') format('embedded-opentype'),
       font-url('brandon-grotesque-light.woff') format('woff'),
       font-url('brandon-grotesque-light.ttf') format('truetype')
}
$brandon-light: "Brandon Light";

@font-face {
  font-family: "Brandon Regular";
  src: font-url('brandon-grotesque-regular.eot');
  src: font-url('brandon-grotesque-regular.eot?#iefix') format('embedded-opentype'),
       font-url('brandon-grotesque-regular.woff') format('woff'),
       font-url('brandon-grotesque-regular.ttf') format('truetype')
}
$brandon-regular: "Brandon Regular";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$purple: #6452BD;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee