---
title: Contactez-nous
---

<div id="team">
  <h2>L'équipe</h2>
  <ul class="list-inline text-center">
    <li>
     <img src="http://placehold.it/50x50" class="img-circle" alt="">
     <p>Alice Morin</p>
    </li>
    <li>
      <%= image_tag "houellebecq.jpg", class: "img-circle" %>
      <p>Michel Houellebecq</p>
    </li>
    <li>
      <%= image_tag "virginia-woolf.jpg", class: "img-circle" %>
      <p>Virginia Woolf</p>
    </li>
  </ul>
</div>

<div class="text-center">
  <h3>Contact</h3>
  <p>Contactez-nous @des esprits&des mots</p>
</div>

